@page
@model Delamain_backend.Pages.AwaitVerify

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.logins[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.logins) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifieAt)
            </td>
            <td>
                <a asp-page="./Account/VerifyPage" asp-route-id="@item.Email">Verify</a> |
                <a asp-page="./Account/DeleteUser" asp-route-id="@item.Email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
